<div *ngIf="formation">

  <div  role="main" class="container">

    <div class="jumbotron etudiant text-white">
      <h1 class="text-light">{{formation.sigle_form}} {{formation.intitule_form}}</h1>
      <h2 class="text-light">Etablissement : {{formation.nom_etab}} </h2>
      <h2 class="text-light">{{formation.ville_etab}} </h2>
    </div>

    <div *ngIf="avis.length">
      <div *ngFor='let a of avis'>
          <div class="card">
              <div class="card-header">
                 <b> {{a.prenom_etud}} {{a.nom_etud}} </b> Promotion {{a.promotion_etud}}
                 <br>
                 <div *ngIf="a.partage">
                    <i class="far fa-envelope"></i>
                    <i>{{a.mail_etude}}</i>
                 </div>
                <div *ngIf="!a.partage">
                    <i class="fab fa-pushed"></i>
                    <i> Cet utilisateur n'a pas partagé son mail.</i>
                 </div>
                
                 <hr>
                 <i>Appréciez-vous cet avis ? </i>
                 <button type="button" class="btn" id="btn_upvote"><i class="far fa-thumbs-up"></i> </button>
                 <button type="button" class="btn" id="btn_downvote"><i class="far fa-thumbs-down"></i></button>

              </div>
              <div class="card-body">
                <h5 class="card-title">Campus
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar"   [style.width]="(a.note_campus * 100/5) + '%'" aria-valuenow="a.note_campus" aria-valuemin="0" aria-valuemax="5"></div>
                    </div>
                </h5>
                <h5 class="card-title">Formation
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"  [style.width]="(a.note_formation * 100/5) + '%'" aria-valuenow="a.note_formation" aria-valuemin="0" aria-valuemax="5"></div>
                      </div>
                </h5>
                <h5 class="card-title">Général
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"  [style.width]="(a.note_general * 100/5) + '%'" aria-valuenow="a.note_general" aria-valuemin="0" aria-valuemax="5"></div>
                      </div>
                </h5>
                
                <p>{{a.commentaire}}</p>

              </div>
            </div>

      </div>
    </div>

    <div *ngIf="!avis.length">
      <h1>Il n'y a pas encore d'avis pour ce master.</h1>
    </div>

  
  </div>
</div>