<form>
    <div class="form-group row">
      <div class="col">
        <label for="inputMasterNom" class=" col-form-label">Intitulé</label>
        <div class="dropdown" id ="inputMasterNom">
         <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Intitulé
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
        </div>
      </div>
     
      <div class="col">
          <label for="inputMasterNom" class=" col-form-label">Intitulé</label>
          <div class="dropdown" id ="inputMasterNom">
           <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Intitulé
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
          </div>
        </div>  

    </div>
</form>

