<form>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">

            <div class="carousel-item  p-4 text-white active">
                <div class="d-block w-100">
                    <h1>Une première partie</h1>
                </div>

            </div>

            <div class="carousel-item p-4 text-white">
                <div class="d-block w-100">
                    <h1>Une deuxième partie</h1>
                </div>
            </div>

            <div class="carousel-item p-4 text-white">
                <div class="d-block w-100">
                    <h1>Une troisième partie</h1>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    
</form>