<div class="jumbotron formation text-white">
  <h1 class="text-light"> Ajouter une formation </h1>
  <hr />

  <form  ngNativeValidate>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validation_intitule">Intitulé </label>
        <input type="text" class="form-control" id="validation_intitule" placeholder="Master de ..."  required>
      </div>

      <div class="col-md-4 mb-3">
        <label for="validation_type">Type</label>
        <input type="text" class="form-control" id="validation_type" placeholder="Master, licence, ..." required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validation_specialite">Spécialité </label>
        <select class="form-control" id="validation_specialite" required>
          <option *ngFor="let specialite of specialites">{{specialite.lib_specialite}}</option>
        </select>

      </div>

      <div class="col-md-4 mb-3">
        <label for="validation_sigle">Sigle</label>
        <input type="text" class="form-control" id="validation_sigle" placeholder="IARF" >  
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validation_etablissement">Nom établissement</label>
        <select class="form-control" id="validation_etablissement" required>
          <option *ngFor="let etablissement of etablissements">{{etablissement.nom_etab}}</option>
        </select>
        <small class="form-text text-muted">
          <a href="etablissement/ajouter" style="text-decoration: none; background-color: none; color:white">Vous ne trouvez pas votre établissement ? Venez l'ajouter ici !</a>
        </small>

      </div>

    </div>

    <button class="btn btn-primary" type="submit">Ajouter</button>
  </form>

</div>